body{
    margin: 0;
    padding: 0;
}
.caja1{
    background-image: url("../assets/images/banner-bk.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.textoLorem{
    color:white;
    font-size: 20px;
    margin: 40px 70px;
    max-width: 700px;
    font-family:sans-serif;
}
.texto{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 40px 70px;
    font-weight: bold;
    line-height: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin: 40px 70px;
    width: 80px;
}
#Get{
    margin: 40px 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.btncj1{
    color: black;
    background-color: #34e991;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin: 40px 70px;
}
.caja2{
    padding: 60px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.alo {
    margin: 0 20px;
    max-width: 400px;
}
.text{
    font-size: 20px;
}
.caja3{
    padding: 60px 100px;
    text-align:left;
    background: linear-gradient(170deg, #fff 50%, #39ff9f 0);
}
.TK{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.lorem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 700px;
}
.btn{
    color: white;
    background-color:rgb(1, 1, 67);
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin: 40px 0px;
}
.compu{
    display: flex;
    justify-content: space-between;
}
.compu div, .compu img{
    width: 45%;
}
.caja4{
}
.Ch{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    font-size: 60px;
}